  <% layout('layout') -%>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron plh" id="navbar-gap">
      <div class="container">
        <h1 class="text-center">Peace, Love, Happiness &amp; Shop</h1><br/><br/>
        <p class="text-center">Login to Start Shopping!</p>
        </div>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <a href="/signup">
        <div class="col-md-4 tile-art1">
        </div>
        </a>
        <a href="/login">
        <div class="col-md-4 tile-art2">
        </div>
        </a>
        <a href="/login">
        <div class="col-md-4 tile-art3">
        </div>
        </a>
      </div>

    </div>
